tags
.netrwhist
.DS_Store
*.swp

git/gitconfig

# Ignore all vim bundles
vim/bundle/*
# ... except for vundle, which sets everything up
!vim/bundle/vundle

node_modules/
package-lock.json
Brewfile.lock.json

# https://github.com/wbthomason/packer.nvim/issues/462
packer_compiled.lua
