[kubernetes]
disabled = false

[terraform]
disabled = false

[docker_context]
disabled = false

[nodejs]
disabled = false

[python]
disabled = false

[ruby]
disabled = false

[aws]
disabled = false

[mise]
disabled = false